@charset "utf-8";
*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
.wraper{
	width: 100%;
	height: 100%;
}
.canculation{
	margin: 0 auto;
	width: 400px;
	height: 600px;
	border: 1px solid black;
}
.head{
	width: 400px;
	height: 150px;
	border-bottom: 1px solid black;
}
.head1{
	text-align: center;
	line-height: 50px;
	width: 100%;
	height: 50px;
	font-size: 30px;
}
.head2{
	text-align: center;
	line-height: 50px;
	width: 100%;
	height: 50px;
	font-size: 30px;
}
.head3{
	text-align: center;
	line-height: 50px;
	width: 100%;
	height: 50px;
	font-size: 30px;
}
.side{
	float: left;
	width: 100px;
	height: 380px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.side_ul li{
	width: 100%;
	height: 94px;
	line-height: 94px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
}
.side_ul li:hover{
	color: orange;
}
.center{
	float: right;
	width: 299px;
	height: 380px;
	border-bottom: 1px solid black;
}
.center_ul li{
	width: 99px;
	height: 126px;
	line-height: 126px;
	float: left;
	font-size: 30px;
	text-align: center;
	cursor: pointer;
}
.center_ul li:hover{
	color: orange;
}
.bottom{
	width: 400px;
	height: 70px;
	clear: both;
}
.bottom_ul li{
	float: left;
	width: 99px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
}
.bottom_ul li:hover{
	color: orange;
}
