@charset utf-8;
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #6c6c6c;
}
ul,li{
	list-style: none;
}
.wraper{
	width: 100%;
	height: 2356px;
	background-color: #eee;
}
.top-wraper{
	width: 100%;
	height: 36px;
	border-bottom: 1px solid #eee;
}
.top{
	width: 1190px;
	height: 35px;
	margin: 0 auto;
}
.top-menu1{
	float: left;
}
.top-menu1 li{
	margin-right: 14px;
	font-size: 12px;
	float: left;
	line-height: 35px;
	color: #6c6c6c;
}
.top-menu1 .china{
	font-size: 12px;
	color: #6c6c6c;
}
.top-menu1 li a:hover{
	color: #f22e00;
	cursor: pointer;
}
.style{
	color: #f22e00;
}
.top-menu2{
	float: right;
}
.top-menu2 li{
	float: left;
	font-size: 12px;
	margin-right: 14px; 
	line-height: 35px;
}
/*接下的部分是中间的搜索的部分*/
.search-wraper{
	width: 100%;
	height: 88px;
	padding: 25px 0 6px 0;
	background-color: #fff;
}
.search{
	position: relative;
	width: 1190px;
	height: 88px;
	margin: 0 auto;
}
.search-logo{
	width: 190px;
	height: 58px;
}
.logo{
	float: left;
	display: block;
	margin: 15px 16px;
	width: 142px;
	height: 58px;
	background-size: 100% 100%;
	background-image: url(https://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png);
	background-repeat: no-repeat;
}
.sraech-panel{
	margin-left: 90px;
	float: left;
	width: 630px;
	height: 87px;
	position: relative;
}
.search-panel-top{
	position: absolute;
	top: 0;
	width: 630px;
	height: 62px;
}
.search-panel-top-t ul{
	margin-left: 16px;
}
.search-panel-top-t li{
	float: left;
	width: 36px;
	height: 22px;
	font-size: 12px;
	text-align: center;
	line-height: 22px;

}
.search-panel-top-t li a{
	color: #f40;	
}
.search-panel-top-t li .baby{
	display: block;
	width: 36px;
	height: 22px;
	color: #fff;
	background-color: #f40;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.search-panel-top-s{
	margin-top: 22px;
	width: 630px;
	height: 40px;
}
.search-panel-top-s-left{
	float: left;
	width: 550px;
	height: 34px;
	border: 3px solid #f40;
	border-right: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}
.search-panel-top-s-left input{
	margin-left: 8px;
	display: block;
	width: 550px;
	height: 38px;
	border: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.search-panel-top-s-right{
	float: right;
	width: 74px;
	height: 40px;
}
.search-panel-top-s-right button{
	position: absolute;
	width: 74px;
	height: 40px; 
	color: #fff;
	border: none;
	font-size: 18px;
	background-color: #f40;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	right: 3px;
}
.search-panel-bottom{
	position: absolute;
	bottom: 0;
	width: 630px;
	height: 25px;
}
.search-panel-bottom ul{
	display: block;
	margin-left: 3px;
}
.search-panel-bottom li{
	float: left;
	display: block;
	margin-left: 5px; 
}
.search-panel-bottom li a{
	font-size: 12px;
}
.search-code{
	position: absolute;
	width: 76px;
	height: 90px;
	right: 60px;
}
.search-code-title{
	width: 70px;
	height: 15px;
}
.search-code-title a{
	display: block;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
}
.search-code-img{
	margin-left: 3px;
	margin-top: 4px;
	display: inline-block;
	width: 62px;
	height: 62px;
	background-image: url(../img/taobao.png);
	background-size: 100% 100%;
}
.topic-wraper{
	width: 100%;
	height: 30px;
	background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
.topic{
	width: 1190px;
	height: 30px;
	margin: 0 auto;
}
.topic h2{
	display: block;
	width: 190px;
	height: 30px;
	background-color: #f40;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	float: left;
}
.topic-left{
	float: left;
	display: block;
	margin-left: 10px;
}
.topic-left li{
	display: block;
	margin:0 10px;
	float: left;
}
.topic-left li a{
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}
.topic-center{
	float: left;
}
.topic-center li{
	float: left;
	color: #fff;
}
.topic-center li span{
	margin:0 6px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}
.topic-center li a{
	color: #fff;
	margin:0 10px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}
.topic-right{
	float: left;
}
.topic-right li{
	float: left;
	color: #fff;
}
.topic-right span{
	margin:0 6px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}
.topic-right li a{
	color: #fff;
	margin:0 10px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}
.body-wraper{
	width: 100%;
	height: 632px;
}
.body{
	width: 1190px;
	height: 632px;
	margin: 0 auto;
}
.main-left{
	float: left;
	width: 890px;
	height: 632px;
}
.main-left-l{
	float: left;
	width: 188px;
	height: 522px;
	border:1px solid #f40;
	overflow: hidden;
}
.main-left-l ul{
	display: block;
	padding-top: 5px;
	background-color: #fff;
}
.main-left-l li{
	display: block;
	width: 189px;
	height: 32px;
	padding: 4px 30px;
	line-height: 32px;
	font-size: 14px;
}
.main-left-l li:hover{
	background-color: #ffe4dd;
	color: #FF5000;
}
.main-left-l li:hover a{
	color: #FF5000;
}
.main-left-l li a{
   font-size: 14px;
}
.main-left-c{
	height: 524px;
	width: 700px;
	float: left;
}
.main-left-c-img1{
	float: left;
	width: 280px;
	height:524px;
}
.main-left-c-img1-t{
	margin: 6px 8px;
	width: 520px;
	height: 280px;
	background-image: url(../img/big.jpg);
	background-size: 100% 100%;
	position: relative;
}
.main-left-c-img1-t ul{
	display: block;
	height: 13px;
	width: 70px;
	border-radius: 10px;
	position: absolute;
	bottom: 15px;
	left: 50%;
	text-align: center;
	margin-left: -39px;
	background-color:rgba(255,255,255,.3)
}
.main-left-c-img1-t ul li{
	float: left;
	color: black;
	margin: 3px;
}
.main-left-c-img1-t ul li a{
	display: block;
	width: 8px;
	height: 0;
	padding-top: 8px;
	background-color: #fff;
	border-radius: 50%;
}
.main-left-c-img1-t ul li .select{
	background-color: #f40;
}
.main-left-c-img1-b{
	width: 520px;
	height: 214px;
	background-color: #fff;
	border-top: 1px solid #fff;
	margin: 22px 0 0 6px;
}
.main-left-c-img1-b-wraper{
	margin: 9px 15px 0 10px; 
}
.main-left-c-img1-b .img1{
	float: left;
	width: 246px;
	height: 200px;
	background-size: 100% 100%;
}
.main-left-c-img1-b .img2{
	float: left;
	width: 246px;
	height: 200px;
	background-size: 100% 100%;
}
.main-left-c-img2{
	float: right;
	height: 524px;
}
.main-left-c-img2-t{
	width: 140px;
	height: 280px;
	background-size: 100% 100%;
	margin: 6px 23px;
}
.main-left-c-img2-b{
	margin: 25px 23px;
	width: 140px;
	height: 220px
	background-color: #fff;
}
.main-left-c-img2-b img{
	width: 160px;
	height: 210px;
}
.main-left-b{
	float: left;
	width: 890px;
	height: 100px;
}
.main-left-b-headline{
	position: relative;
	width: 890px;
	height: 94px;
	background-color: #fff;
	margin-top: 15px;
}
.main-left-b-headline h3{
	margin: 10px 0 0 8px;
	width: 180px;
	height: 70px;
	float: left;
}
.main-left-b-headline p{
	display: block;
	margin: 4px 0 0 8px; 
	color: #888;
	font-size: 12px;
}
.main-left-b-headline a{
	float: left;
	position: absolute;
	right: 5px;
	font-size: 12px;
	color: #999;
	margin-top: 4px;
}
.main-left-b-headline a:hover{
	color: #f40;
}
.main-left-b-headline-r {
	margin-top: 5px;
	margin-left: 4px;
	float: left;
	height: 70px;
	width: 170px;
	background-image: url(../img/1234_.webp);
	background-size: 100% 100%;
}
.main-left-b-headline-last{
	float: left;
	width: 450px;
	height: 70px;
	margin: 0px 0 0 40px;
}
.main-left-b-headline-last h3{
	float: left;
	width: 450px;
	font-size: 16px;
	color: #666;
	height: 30px;
	line-height: 30px;
}
.main-left-b-headline-last p{
	float: left;
	display: block;
	width: 450px;
	font-size: 14px;
	color: black;
	height: 20px;
	line-height: 20px;
}
.main-right{
	float: right;
	width: 290px;
	height: 632px;
	background-color: #fff;
}
.main-right-login-top{
	width: 290px;
	height: 145px;
	border-top: 1px solid #fff;
}
.main-right-login-top-draw{
	margin-top: 4px;
	width: 290px;
	height: 89px;
}
.draw-img{
	display: block;
	height: 50px;
	height: 50px;
	background-size: 100% 100%;
	margin: 0 auto;
	border-radius: 50%;
}
.draw-nick{
	width: 50px;
	display: block;
	height: 17px;
	line-height: 17px;
	font-size: 14px;
	font-weight: 400;
	margin: 0 auto;
}
.draw-word{
	width: 100%;
	height: 17px;
	line-height: 17px;
	display: block;
}
.draw-word a{
	margin-left: 20px;
	display: block;
	float: left;
	padding: 0 10px;
    background-color: #ffe4db;
    border-radius: 9px;
    color: #f40;
    font-size: 14px;
}
.draw-ul{
	margin: 10px 0 0 6px;
	display: block;
	width: 290px;
	height: 25px;
	line-height: 25px;
}
.draw-ul li{
	display: block;
	margin:0 5px;
	float: left;
	border-radius: 4px;
	background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
	background-size: 100% 100%；
}
.draw-ul li a{
	display: block;
	padding: 0 24px;
	color: #fff;
	font-size: 14px;
}
.information-wraper{
	width: 100%;
	height: 17px;
	padding: 4px 0;
	background-color: #ffe4dd;
}
.information{
	display: block;
	width: 60%;
	height: 17px;
	line-height: 17px;
	margin: 0 auto;
}
.information{
	display: block;
	color: #f40;
	font-size: 14px;
}
.main-right-login-center{
	width: 290px;
	height: 108px;
}
.main-right-login-center-ul{
	display: block;
	margin: 10px  20px;
	width: 240px;
	height: 20px;
	border: 1px solid #fff;
}
.main-right-login-center-ul li{
	float: left;
	display: block;
	margin-left: 14px;
	width: 32px;
	height: 20px;
}
.main-right-login-center-ul li a{
	color: black;
	font-size: 12px;
}
.main-right-login-center-ul li a:hover{
	text-decoration: underline;
	color: #f40;
	font-weight: 700;
}
.main-right-login-center-headline{
	margin-left: 20px;
	width: 290px;
	height: 65px;
}
.main-right-login-center-headline ul li {
	float: left;
	display: block;
	margin:0 10px 3px 0;
}
.main-right-login-center-headline ul li a{
	font-size: 12px;
}
.main-right-login-bottom{
	width: 290px;
	height: 232px;
}
.main-right-login-bottom li{
	float: left;
	width: 71px;
	height: 74px;
	border: 1px solid #f4f4f4;
	border-left: none;
}
.main-right-login-bottom li a{
	display: block;
	text-align: center;
}
.main-right-login-bottom li a span{
	display: block;
	width: 24px;
	height: 24px;
	margin: 10px 0 0 24px;
	background: url(https://img.alicdn.com/tfs/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 100% 100% no-repeat;
}
.main-right-login-bottom li a .pic1{
	background-position: 0px 0px;
}
.main-right-login-bottom li a .pic2{
	background-position: 0px -85px;
}
.main-right-login-bottom li a .pic3{
	background-position: 0px -44px;
}
.main-right-login-bottom li a .pic4{
	background-position: 0px -85px;
}
.main-right-login-bottom li a .pic5{
	background-position: 0px -176px;
}
.main-right-login-bottom li a .pic6{
	background-position: 0px -220px;
}
.main-right-login-bottom li a .pic7{
	background-position: 0px -264px;
}
.main-right-login-bottom li a .pic8{
	background-position: 0px -308px;
}
.main-right-login-bottom li a .pic9{
	background-position: 0px -352px;
}
.main-right-login-bottom li a .pic10{
	background-position: 0px -396px;
}
.main-right-login-bottom li a .pic11{
	background-position: 0px -440px;
}
.main-right-login-bottom li a .pic12{
	background-position: 0px -484px;
}
.main-right-login-bottom li a p{
	display: block;
	margin-top: 8px;
	font-size: 12px;
}
.main-right-app{
	width: 290px;
	height: 110px;
}
.main-right-app-word{
	font-size: 14px;
	padding-left: 14px;
	height: 30px;
	line-height: 30px;
	position: relative;
}
.main-right-app-word a{
	position: absolute;
	right: 5px;
	color: #777;
}
.main-right-app ul li{
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-left: 21px;
	margin-bottom: 8px;
}
.main-right-app ul li img{
	width: 32px;
	height: 32px;
}